* {
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
  background: #006b33;
  font-family: 'Baloo Bhaina', cursive;
  color:white;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

h1 {
  text-align: center;
}

a {
  color: #957c4f;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.relative-top {
  margin-top: 72px;
  margin-left: 132px;
}

.relative-bottom {
  /* //TODO Reduce pictures */
}

.popup-background {
  position: fixed;
  background: #00000044;
  z-index: 1000;
  display: none;
}

.popup-block {
  display: none;
}

.popup-block-open {
  display: block !important;
}

.popup {
  border: 2px solid black;
  background: #006b33;
  border-radius: 32px;
}

.popup-title {
  font-size: 40px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.flex-xl-1-4 {
  flex-basis: 25%;
}

.flex-xl-1-2,
.flex-xl-2-4 {
  flex-basis: 50%;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 4px 6px;
  white-space: nowrap;
  font-family: sans-serif;
  text-shadow: none;
  min-width: 13px;
  margin: 2px;
  text-align: center;
}

.text {
  padding: 8px 16px;
}
